.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #040000;
    color: rgb(255, 0, 0);
    padding: 10px;
    gap: 20px;
    align-items: center;


}

.stylee {
    border: 1px solid red;
     background: lightsalmon;
     height: 30px;padding: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
}