.bj {
    background: rgb(255, 0, 0);
    color: bisque;
    padding: 20px;
    margin: 5px;
    border-radius: 8px;

}

#bh {
    background: rgb(2, 2, 236);
    text-align: center;
    padding: 50px;
    margin: 1px;
}

#hb {
    background: rgb(166, 255, 0);
    padding: 20px;
    margin: 1px;
}

body {
    display: inline;
    /* flex-direction: row; */
}