.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #040000;
    color: rgb(255, 0, 0);
    padding: 10px;
    gap: 20px;
    align-items: center;
    height: 300px;
   
}